spring:
  datasource:
    url: jdbc:h2:mem:credit-application-system_DB
#    username: sa
#    password:
  jpa:
#    hibernate:
#      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate.format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false